@model CSCources.Models.ApplicationUser
@{
    ViewBag.Title = "Обновление профиля";
}
<h2>Обновление профиля</h2>
@using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data"}))
{

    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Interests, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Interests, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.BirthDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control", id="datetimepicker4" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sex, new { @class = "col-md-2 control-label" })
        <div class="col-md-2">
            @Html.DropDownListFor(m => m.Sex, new SelectList ( new[] { "Female", "Male" } ), new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-2">
           <input type="file" class="btn btn-default" name="avatar"/>
        </div>
        <div class="col-md-offset-2 col-md-2">
            @if (Model.AvatarId != null)
            {
                <img src="@Model.Avatar.FileVirtualPath" class="class="col-md-offset-2 col-md-2" />
                <img src="../@Model.Avatar.FileVirtualPath" class="class=" col-md-offset-2 col-md-2" />
            }
        </div>
        
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Сохранить" />
        </div>
    </div>
 }
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
       <script type="text/javascript">
            $(function () {
                $('#datetimepicker4').datetimepicker({
                    locale: 'ru', format: "DD.MM.YYYY"
                });
            });
       </script>
}


